.topbar {
  height: 50px;
  width: 100%;
  background-color: white;
}

.topbar-wrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
